<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Product
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->



  <form [formGroup]="Productform">
    
    <ion-item>
      <ion-label position="stacked" >Likes</ion-label>
      <ion-input type="number" formControlName="likes"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" >Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" >Price</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" >Type</ion-label>
      <!-- <ion-input type="text" formControlName="type"></ion-input> -->
      <!-- <select formControlName="type">
        <option value="Mobile">Mobile</option>
        <option value="Display">Display</option>
        <option value="Laptop">Laptop</option>
      </select> -->

      <ion-select formControlName="type">
        <ion-select-option value="Mobile">Mobile</ion-select-option>
        <ion-select-option value="Display">Display</ion-select-option>
        <ion-select-option value="Laptop">Laptop</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" >Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked" >Image</ion-label>
      <ion-input type="file" formControlName="image"></ion-input>
    </ion-item>

    <br>
    <ion-button (click)="addproduct()">Add Product</ion-button>
  
  </form>

  <!-- <table>
    <thead>
      <tr>
        <th>Likes</th>
        <th>Name</th>
        <th>Price</th>
        <th>Type</th>
        <th>Description</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productdata">
        <td>{{item.likes}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.type}}</td>
        <td>{{item.description}}</td>
        <td>{{item.image}}</td>
      </tr>
    </tbody>
  </table> -->

  <ion-searchbar show-clear-button="focus" value="" [(ngModel)]="searchValue"></ion-searchbar>

  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar show-clear-button="focus" value=""></ion-searchbar>
      </ion-col>
      <ion-col>
        <ion-searchbar show-clear-button="focus" value=""></ion-searchbar>
      </ion-col>
      <ion-col>
        <ion-searchbar show-clear-button="focus" value=""></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-grid>
    <ion-row>
      <ion-col>Likes</ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Price</ion-col>
      <ion-col>Type</ion-col>
      <ion-col>Description</ion-col>
      <ion-col>Image</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of productdata | searchfilter: searchValue ">
      <ion-col>{{item.likes}}</ion-col>
      <ion-col>{{item.name}}</ion-col>
      <ion-col>{{item.price}}</ion-col>
      <ion-col>{{item.type}}</ion-col>
      <ion-col>{{item.description}}</ion-col>
      <ion-col>{{item.image}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    
  </ion-grid>
</ion-content>
